{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <!-- After talking with a friend proficient in front end / atleast designs -->
    <!--  I'll be redisigning the color theme and the colors I'll be using are  -->
    <style>
        .colorpoints{
            color:         rgb(241, 246, 249);
            color:         rgb(57, 72, 103);
            color:         rgb(33, 42, 62);
            color:         rgb(155, 164, 181);
        }
        body{
            background-color: black;
        }
        .bio{
            /* background-color: rgb(38, 48, 71) ; */
        }
        #middle{
            height: 1400px;
            -webkit-text-fill-color:wheat;
            background-color: black;
        }
    </style>
    <div id="middle">
            {% include 'content.html' %}
    </div>
    <div id="bottom">
        {% include 'bottombar.html' %}
        This is Design Charlie
        started on 12/05/2023
        By Aki
    </div>
    
    <div id="top">{% include 'topbar.html' %}</div>
</body>
</html>