<style>
    .projects{
        display:grid;
        grid-template-columns: 100fr 1fr;
    }
    #project-box{
        margin-top: -10px;
        margin-left: 50px;
        height: 400px;
        width: 200px;
        background-color: bisque;
    }
    #project-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 4fr;
        /* display: inline-block; */
        height: 500px;
        background-color: rgb(31, 41, 60);;
        width: 1380px;
        border-bottom-right-radius: 80%;
        border-top-right-radius: 30%;
        margin-right: 20px;
    }
    #project-container-right{
        background-color: rgb(24, 31, 47);
        width: 100px;
        border-bottom-left-radius: 80%;
        border-top-left-radius: 30%;
    }
    #pcr-box{
        height: 500px;
        width: 0px;
        background-color: aliceblue;
        margin-left: 150px;
    }
</style>

<script>
    function projectBomb(){
        document.querySelector("#project-container").style.width = "980px";
        document.querySelector("#project-container").style.transition = "900ms";
        document.querySelector(".projects").style.gridTemplateColumns = "5fr 3fr";
        document.querySelector("#project-container-right").style.width = "500px";
        document.querySelector("#project-container-right").style.transition = "900ms";
        document.querySelector("#pcr-box").style.width = "350px";
        document.querySelector("#pcr-box").style.transition = "1000ms";
    }
    function projectExpo(){
        document.querySelector("#project-container").style.width = "1380px";
        document.querySelector("#project-container").style.transition = "600ms";
        document.querySelector(".projects").style.gridTemplateColumns = "100fr 1fr";
        document.querySelector("#project-container-right").style.width = "100px";
        document.querySelector("#project-container-right").style.transition = "600ms";
        document.querySelector("#pcr-box").style.width = "0px";
        document.querySelector("#pcr-box").style.transition = "400ms";
    }

</script>

<div id="project-container">
    <div id="project-box" onmouseover="projectBomb()" onmouseout="projectExpo()">
        Hero
    </div>
    <div id="project-box" onmouseover="projectBomb()" onmouseout="projectExpo()">
        Hero
    </div>
    <div id="project-box" onmouseover="projectBomb()" onmouseout="projectExpo()">
        Hero
    </div>
</div>
<div id="project-container-right">
    <div id="pcr-box">

    </div>
</div>