<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Page</title>

    <h1>Add Page</h1>
</head>
<body>

    <form action="" method="post">
        <div>
            <span>Enter Name</span>
            <input type="text" name="Name">
        </div>
        <div>
            <span>Enter date</span>
            <input type="datetime" name="date">
        </div>
        <div>
            <span>Enter Brief Idea</span>
            <input type="text" name="Brief">
        </div>
        <div>
            <span>Auther</span>
            <input type="text" name="Auther">
        </div>
        <div>
            <span>Category</span>
            <input type="text" name="Category">    
        </div>
        <div>
            <span>Enter Tags</span>
            <input type="text" name="Tags">
        </div>
        <div>
            <span>Upload Image</span>
            <input type="file" name="Image">
        </div> 

        <input type="submit">
    </form>
    
</body>
</html>