<style>
    table{
        border-collapse: collapse;
        text-align: center;
    }
    thead{
        font-size: 25px;
        height: 60px;
        /* width:110px; */
        border-bottom: 3px solid rgb(244, 238, 224);
    }
    #th1,#th7,#th4{
        width: 30px;
    }
    #th2{
        width: 90px;
    }
    #th3{
        width: 190px;
    }
    #th6{
        width: 140px;
    }
    #th5{
        width: 130px;
    }
    #sc1tr{
        height: 50px;
        border-bottom:1px solid rgb(70, 63, 63);
    }
    #sc1tr:nth-child(odd){
        background-color: rgb(57, 54, 70);
        
    }
    #sc1tr:nth-child(even){
        background-color: rgb(79, 69, 87);
        
    }
</style>

<table>
    <thead>
        <th id="th1">Rank</th>
        <th id="th2">Date</th>
        <th id="th3">Name</th>
        <th id="th4">ID</th>
        <th id="th5">Tags</th>
        <th id="th6">Auther</th>
        <th id="th7">Likes</th>
    </thead>
    <tbody>

        {% for data in data_scoto %}
        <tr id="sc1tr">
            <td>
                {{ data.0 }}
            </td>
            <td>
                {{ data.1 }}
            </td>
            <td>
                {{ data.2 }}
            </td>
            <td>
                {{ data.3 }}
            </td>
            <td>
                {% for tol in data.4 %}
                    {{ tol }},
                {% endfor %}
            </td>
            <td>
                {{ data.5 }}
            </td>
            <td>
                {{ data.6 }}
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>
