<style>
    button{
        background-color: lightblue;
        width: 230px;
        margin-top: 30px;
        height: 50px;
        border: 5px solid rgb(79, 69, 87);
        border-radius: 20px;
        -webkit-text-fill-color: rgb(57, 54, 70);
    }
</style>
<script>
    function color(n){
        document.querySelector(`#bt${n}`).style.backgroundColor = "lightcyan";
    }
</script>

<div>
    <button onclick="color(1)" id="bt1">Tag A</button>
</div>
<div>
    <button onclick="color(2)" id="bt2">Tag B</button>
</div>
<div>
    <button onclick="color(3)" id="bt3">Tag C</button>
</div>
<div>
    <button onclick="color(4)" id="bt4">Tag D</button>
</div>