<style>
    .content{
        margin-bottom: 200px;
        height:500px;
    }
    .projects{
        background-color: rgb(57, 72, 103);
    }
    .bio{
        margin-top: 50px;
        background-color: rgb(38, 48, 71) ;
        display: grid;
        grid-template-columns: 1fr 2fr;
        /* transition: background-image 0.2s ease-in-out ; */
    }
</style>

<div class="content bio">
    {% include 'portfolio\content\bio.html' %}
</div>
<div class="content projects">
    <h1>PROJECTS</h1>
</div>