<!--THis part of site does not move-->
<style>
    #top{
        position: fixed;
        top: 0;
        width: 99%;
        height: 100px;
        background-color: rgba(0, 0, 0, 0.585);
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    button{
        -webkit-text-fill-color: rgb(241, 246, 249);
        border-radius: 5px;
        transition: 300ms;
        width: 100px;
        height: 40px;
        margin-top: 30px;
        margin-left: 30px;
        border: 0px solid rgb(155, 164, 181);
        background-color: rgb(33, 42, 62);    
    }
    button:hover{
        transition: 200ms;
        background-color: rgb(55, 146, 226);
    }
    #Top-heading{
        -webkit-text-fill-color: white;
        font-size: 40px;
        font-family: 'Lucida Handwriting','Brush Script MT';
        font-weight: 800;
        /* font-style: italic; */
        margin-top: 20px;
        margin-left: 40px;
        height: 60px;
    }
</style>
<div id="Top-heading">
    RAHUL JANGRA
</div>

<div id="Top-buttons-box">
    <button>A</button>
    <button>B</button>
    <button>C</button>
    <button>D</button>
    <button>E</button>
</div>