<!--THis part of site does not move-->
<style>
    #top{
        position: fixed;
        top: 0;
        width: 99%;
        height: 100px;
        background-color: rgb(57, 72, 103);
    }
    button{
        -webkit-text-fill-color: rgb(241, 246, 249);
        border-radius: 20px;
        transition: 300ms;
        margin-top: 50px;
        width: 250px;
        height: 50px;
        margin-left: 30px;
        border: 0px solid rgb(155, 164, 181);
        background-color: rgb(33, 42, 62);    
    }
    button:hover{
        transition: 200ms;
        background-color: aliceblue;
    }
    h5{
        margin: 0;
    }
</style>

<h5>Hero</h5>

<div class="dropmenu">
    <button>A</button>
    <button>B</button>
    <button>C</button>
    <button>D</button>
    <button>E</button>
</div>