{% load static %}

<style>
/* 
    #forIMG{
        display: grid;
        grid-template-rows: 1fr 30fr;
        background-color: rgb(57, 72, 103);
        height: 440px;
    }
    #forIMG img{
        grid-row: 2;
        max-width: 330px;
    } */
    #forContent{
        grid-row: 1;
        -webkit-text-fill-color: rgb(241, 246, 249);
        /* margin-left: 35%; */
        height: 500px;
        width: 800px;
        border-start-end-radius: 20%;
        /* border-top-right-radius: 5%; */
        /* border-bottom-right-radius: 5%; */
        /* background-color: darkslategray; */
    }
    #forContent-A{
        margin-left: 300px;
        width: 600px;
        margin-top: 150px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 66px;
        font-size: 3em;
        font-weight: 100;
        height: 150px;
        box-shadow: 10px 0px 0px black;
    }
    #forContent{
            /* background-color: rgb(23, 29, 41); */
            /* background-color: transparent; */
    }
    #forContent-A{
        /* background-color: rgb(69, 69, 69); */
    }
    #forContent-B{
        /* background-color: rgb(153, 25, 25); */
    }
    #forContent-B{  
        margin-top: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-style: italic;
        -webkit-text-fill-color: rgb(189, 187, 187);
        margin-left: 300px;
        height: 200px;
        width: 700px;
        font-size: .9em;
        font-weight: 100;
        line-height: 25px;
    }
    #forIMG{
        height: 800px;
        width: auto;
        /* background-color: aquamarine; */
        opacity: .35 ;
    }
    #imgprf{
        margin-top: -20px;
        margin-left:100px;
        border-top-right-radius: 30%;
        border-bottom-left-radius: 60%;
        max-width: 500px;
    }
</style>

    <!-- scriptA = "\"Hii (^O^), I'm a college sophmore pursuing computer science and engineering. <br> I like to work on webProjects/WebApps/WevDev what have you <br> I'm more interested in the Inner workings of structures and organisations, like a hidden works and trade secrets jk (^.^) <br> In web dev it would be the backend ,deployment and maintainance parts. I also have good handle on front end. \"<br>"
    scriptB = "<table><thead><th>Personals</th><th>Skills</th></thead><tbody><tr><td><ul><li>Age : 20</li><li>Discipline : CSE</li><li>College: SMVIT (VTU)</li></ul></td><td><ul><li>HTML/ CSS/ JS</li><li>Python/ Django</li><li>Java/ C/ C++</li></td></tr></ul></tbody></table>" -->
    
    <div id="forIMG">
        <!-- <img id="imgprf" src="{% static 'JennieKim.jpg' %}" alt=""> -->
        <!-- <img src="{% static 'BGofWebsite.jpg' %}" style="   margin-top: 100px;
                                                            margin-left:-120px;
                                                            border-top-right-radius: 0%;
                                                            border-bottom-left-radius: 50%;
                                                            max-height: 400px;" alt=""> -->
        <!-- <img id="imgprf" src="{% static 'JennieKim.jpg' %}" alt=""> -->
        <!-- <img id="imgprf" src="{% static 'me_and_manisha.jpg' %}" alt=""> -->
        <!-- <img id="imgprf" src="{% static 'Risotto_Nero.jpg' %}" alt=""> -->
        <img id="imgprf" src="{% static 'me_ice.jpg' %}" alt="">
        <!-- <img id="imgprf" src="{% static 'me_ice2.jpg' %}" alt=""> -->
    </div>  
<div id="forContent">
    <div id="forContent-A">
        <div id="forContent-A-A">
            Hii <div style="display: inline-block;font-size: 80;-webkit-text-fill-color: aquamarine;text-shadow: 2px 2px 30px rgb(255, 255, 255);">(. ❛ ᴗ ❛.)</div>, I'm a college sophmore . 
        </div>
    </div>
    <div id="forContent-B">
        <div id="forContent-B-A">
            <br>
            "I like to work on webProjects/WebApps/WevDev what have you 
            I'm more interested in the Inner workings of structures and organisations, like a hidden works and trade secrets jk (^.^) 
            In web dev it would be the backend ,deployment and maintainance parts. I also have good handle on front end."
        </div>
        <!-- <div id="forContent-content-content-B">
            <table>
                <thead>
                    <th>
                        name
                    </th>
                </thead>
                <tbody>
                    <tr>
                        <td>Rahul Jangra</td>
                    </tr>
                </tbody>
            </table>
        </div> -->

        <!-- <table>
            <thead>
                <th>Personals</th>
                <th>Skills</th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <ul>
                            <li>Age : 20</li>
                            <li>Discipline : CSE</li>
                            <li>College: SMVIT (VTU)</li>
                        </ul>                        
                    </td>
                    <td>
                        <ul>
                            <li>
                                HTML/ CSS/ JS
                            </li>
                            <li>
                                Python/ Django
                            </li>
                            <li>
                                Java/ C/ C++
                            </li>
                    </td>
                </tr>
                </ul>
            </tbody>
        </table> -->

    </div>
</div>