{% load static %}

<script>

    addEventListener("DOMContentLoaded", ()=>{
        document.querySelectorAll("#pbt-h-name").forEach( (k)=>{
            k.innerHTML = k.innerHTML.toUpperCase();
        }) 
    
        document.querySelectorAll("#pbi-img").forEach( function(k) {
            console.log("todays")
            if (k.clientHeight <= 250){
                console.log(k)
                k.style.maxWidth = "350px"
                k.style.marginTop = "20px";
                k.style.marginLeft = "10px";
            }
            else{
                k.style.marginLeft = "-35px"
            }
        })
    })

</script>

<style>
    #postbox{
        border-radius: 20px;
        margin-top: 25px;
        /* background-image: linear-gradient(110deg, black 53%, white 53%); */
        background-color: rgb(255, 255, 255);
        height: 550px;
        -webkit-text-fill-color: black;
        display: grid;
        grid-template-rows: 4fr 9fr 5fr;
    }

    
    #postbox-head{
        display: grid;
        grid-template-rows: 1fr 3fr;
        height: 100px;
    }

    #pbt-auther{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 290;
        padding-top: 10px;
        /* margin-top: 10px; */
        margin-left: 25px;
        /* background-color: violet; */
        height: 10px;
    }
    #pbt-head{
        height: 80px;
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
    #pbt-h-name{
        -webkit-text-fill-color: rgb(0, 0, 0);
        padding-top: 20px;
        padding-left: 15px;
        font-weight: 1000;
        font-family:Arial, Helvetica, sans-serif;
        /* background-color: brown; */
        height: 80px;
        font-size: 29px;
    }
    #pbt-h-date{
        padding-right: 5px;
        padding-left: 3px;
        text-align: right;
        /* background-color: blueviolet; */
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding-top: 80px;
        /* font-weight: 300; */
        font-size: 15px;
    }


    img{
        border-radius: 8%;
        max-height: 350px;
        max-width: 300px;
    }
    #postbox-image{
        overflow:hidden;
        width: 100%;
        text-align: center;
    }


    #pbt-foot{
        display: grid;
        grid-template-rows: 2fr 1fr;
    }
    #pbt-f-body{
        /* background-color: darkcyan; */
        border-radius: 10%;
        height: 80%;
        text-align:end;
        padding: 3%;
        padding-top: 7%;
        font-weight: 700;
        font-family: 'Courier New', Courier, monospace;
    }
    #pbt-ff{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 2fr;
    }
    #pbt-f-like,#pbt-f-comment,#pbt-f-share{
        margin-top: 5%;
        margin-left: 20px;
        /* background-color: rgb(166, 80, 80); */
        height: 80%;
        border-radius: 50%;
        font-size: 11px;
    }
    #pbt-f-comment{
        width: 70px;
    }
</style>

<div id="postbox">
    
    <div id="postbox-head">
        <div id="pbt-auther">By Khiladi 786</div>
        <div id="pbt-head">
            <div id="pbt-h-name">one step to one thousand</div>
            <div id="pbt-h-date">30 November <br> 2023</div>
        </div>
    </div>

    <div id="postbox-image">
        <img id="pbi-img" src="{% static 'Yorsy.jpg' %}" alt="">
    </div>

    <div id="pbt-foot">
        <div id="pbt-f-body">
            <div>
                Brief: 
                New Ideas are a Mashuo of old thoughts of relevancy and strong feelings 
            </div>
        </div>  
        <div id="pbt-ff">
            <button id="pbt-f-like">Likes</button>
            <button id="pbt-f-comment">Comments</button>
            <button id="pbt-f-share">share</button>
        </div>
    </div>
    
</div>



{% for x in data %}
<div id="postbox">

    x.0 <br>
    x.1 <br>
    x.2 <br>
    x.3 <br>
    x.4 <br>
    x.5 <br>
    x.6 <br>
    x.7 <br>
    x.8
<!--     
    <div id="postbox-head">
        <div id="pbt-auther">By</div>
        <div id="pbt-head">
            <div id="pbt-h-name"> </div>
            <div id="pbt-h-date"></div>
        </div>
    </div>

    <div id="postbox-image">
        <img id="pbi-img" src="" alt="">
    </div>

    <div id="pbt-foot">
        <div id="pbt-f-body">
            <div>
                Brief: 
                
            </div>
        </div>  
        <div id="pbt-ff">
            <button id="pbt-f-like"></button>
            <button id="pbt-f-comment">Comments</button>
            <button id="pbt-f-share">share</button>
        </div>
    </div> -->
    
</div>
{% endfor %}